<p>
  <strong>Title:</strong>
  <%= @blog.title %>
</p>
 
<p>
  <strong>description:</strong>
  <%= @blog.description %>
</p>
<p>
  <strong>image:</strong>
  <%= image_tag @blog.image, :height=>"100", :width=>"100" %>
</p>